/* THIS CODE SHOULD BE REFACTORED INTO SASS
   ESPECIALLY TASK INBOX */
/* CABIN FONT */
div#preload {
  display:none;
}

@font-face {
    font-family: "Cabin";
    src: '../fonts/Cabin-Regular-TTF.ttf';
}

@font-face {
    font-family: "Avenir";
    src: '../fonts/Avenir.ttc';
}
/* MEDIA QUERIES */

@media screen and (max-width: 1080px) {
  .right-panel {
    width: 18% !important;
    padding-left: 1em;
    font-size: 11px;
  }
    /*hr {
      width: 96% !important;
    }*/
}

::-webkit-scrollbar {
    display: none;
}

body {
  font-family: Cabin, sans-serif;
  margin: 0;
  background-color: #012337;
  overflow: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 901px;
}

img {
  border: 0;
}

.pipeline-container {
  width: 96%;
	background-color: #fff;
  box-shadow: 0 9px 8px 0 rgba(8, 8, 8, 0.56), 0 1px 2px 0 #a9b1be;
	border: solid 1px #cbcfd7;
  z-index: 1;
  padding: 0;
	height: 820px;
  margin: 70px 0 0 24px;
  font-family: Avenir, sans-serif;
  font-size: 14px;
}

table {
  text-align: left;
  padding: 0;
  border: 0;
  border-collapse: collapse;
  width: 100%;
  margin:0;
}
tr {
  border-bottom: 1px solid #e0e3e8;
}
thead {
  color: #FFF;
  text-transform: uppercase;
	background-color: #353c46;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  padding: 0 !important;
  margin: 0;
}

thead tr th{
  height: 36px;
  padding: 6px;
  font-weight: 100;
}
tbody tr td {
  padding: 0px 6px 0px 6px;
  width: 12px;
}

td a {
  text-decoration: none;
  color: #000;
}

tbody > tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
  cursor: hand;
}

tbody span.number, tbody span.dnumber {
padding: 1px 4px;
color: #006aa9;
font-size: 9px;
width: 14px;
height: 14px;
border-radius: 50%;
text-align: center;
background: #fff;
border: 1px solid #006aa9;
}

tbody span.dnumber {
  padding: 1px 2px !important;
}

.money::before {
    content:"$";
}

/* INDEX */
#arrow {
  position:fixed;
  top: 21px;
  left: 73px;
  width: 6px;
}
#bug {
  position: fixed;
  top: 16px;
  left: 18px;
  width: 28px;
}
#bug:hover, #notification:hover {
  cursor: pointer;
  cursor: hand;
}

#notification {
  position: fixed;
  top: 14px;
  right: 80px;
  width: 28px;
}

#bug-menu {
  opacity: 0;
  width: 4px;
  height: 4px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 3px 30px 0 #697489;
  position:fixed;
  top: 36px;
  left: 36px;
  transition: width .1s ease-in, height .1s ease-in;
}

#bug-menu img {
  opacity:0;
  transition: opacity .4s;
}

#bug-menu img:hover {
  cursor: pointer;
  cursor: hand;
}

#menu-logo {
  margin: 16px 0px 0px 13px;
  width: 122px;
  display: block;
}

#bug-menu > img:not(:first-child), #bug-menu > a > img {
  height: 80px;
  margin: 0px 20px;
  padding-left: 12px;
  display: inline-block;
}

.left-nav {
  width: 28px;
  margin-top: 3%;
  float: left;
}

.left-nav img {
  margin: 0;
  cursor: pointer;
  cursor: hand;
  width: 27px;
  padding: 17px;
}

.left-nav img:hover {
  background-color: #002236;
}

.selected-icon {
  background-color: #002236;
}

/* TASK INBOX */
#taskInbox {
  width: 307px;
	height: 901px;
	background-image: radial-gradient(circle at 86% 7%, #024872, #012a42);
	border: solid 1px #697489;
}


.inner-container {
  padding: .25em 0em .25em 0em;
  width: 69%;
	height: 820px;
	background-color: rgba(0, 0, 0, 0);
  margin: 70px 0 0 58px;
}


.form-content {
  background-color: #fff;
  height: 784px;
  box-shadow: 0 9px 8px 0 rgba(8, 8, 8, 0.56), 0 1px 2px 0 #a9b1be;
	border: solid 1px #cbcfd7;
}

input[type=checkbox] {
  margin: 0 auto;
}
h2 {
  font-family: Cabin, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #102841;
  display: block;
}
.content-1 p.h2, .content-2 p.h2, .content-3 p.h2, .content-4 p.h2 {
  font-family: Cabin, sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #102841;
  border-bottom: 1px solid #999;
  width: 96.4%;
  height: 30px;
  position: absolute;
  left: 0px;
  padding-left: 16px;
}

h3 {
  font-size: 16px;
	font-weight: 600;
	color: #464f5c;
}

h4 {
  margin: .5em 0em;
  padding: 0;
}

hr {
  border: .5px solid #ddd;
  margin: .5em 1em .5em 0em;
}

span.clear {
  clear: both;
}

label.form-label {
  font-family: Avenir;
	font-size: 11px;
	text-align: left;
	color: #464f5c;
  position: relative;
  left: 58px;
  top: 10px;
  z-index: 101;
}

input[type=text] {
  width: 200px;
	height: 16px;
  border: none;
  padding: .5em;
  border-radius: 4px;
	background-color: #f3f9ff;
  margin: .5em 1em 1em 0em;
  font-size: 13px;
	color: #000;
  position: relative;
}

input[type=text]::placeholder {
  font-family: ProximaNova, sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: #a9b1be;
}

input[type=text]:focus {
  height: 22px;
  outline: none;
  margin: .2em 1em .5em 0em !important;
  transition: margin-top .2s ease-in, height .2s ease-in;
  -webkit-transition: margin-top .1s ease-in, height .1s ease-in;
  border: solid 1px #a3d6ff;
}

input[type=text]:focus::placeholder {
  color: #012337;
}

.flash {
  background: linear-gradient(88deg, #163d5d, #a3d6ff);
  background-size: 100% 100%;
  width: 0px;
  height: 40px;
  transition: 1s width;
  position: fixed;
  z-index: -1;
  margin-left: -4px;

  -webkit-animation: AnimationName 2s ease;
  animation: AnimationName 2s ease;

  @-webkit-keyframes AnimationName {
      0%{background-position:4% 100%}
      100%{background-position:97% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:4% 100%}
      100%{background-position:97% 0%}
  }
}

.row {
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

#wrapper {
	width:24%;
	height:100%;
	margin:0;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
}

.flashEffect {
  width: 24px;
  height: 20px;
  background-color: yellow;
  position: absolute;
  margin-top: 300px;
  margin-left: 4%;
}

/* RIGHT PANEL */

.right-panel {
  color: #fff;
  float: right;
  width: 21%;
  margin-right: 2.5%;
  margin-top:2%;
  font-family: Avenir, sans-serif;
}

.right-panel p.row-left {
    width: 60%;
  }

.right-panel span.light {
  font-weight: 100;
  font-size: 12px;
  position: relative;
  top: -4px;
}

.right-panel span.heavy {
  font-weight: 500;
  font-size: 14px;
}

.right-panel .row > p {
  margin: 0px 0px 16px 0px;
  padding: 0px;
}

img#timeline {
  width:101%;
  margin:0 auto;
  padding:6% 0 0 1%;
}

p.cap-text {
  font-family: Avenir, sans-serif;
  text-transform: capitalize;
  font-size: 18px;
	font-weight: 300;
  width: 100%;
  padding: 0px 0px 4px 6px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* TASK INBOX */

#task-inbox {
  width: 21%;
	height: 901px;
	background-image: radial-gradient(circle at 86% 7%, #024872, #012a42);
	border: solid 1px #697489;
  position: fixed;
  top: 0px;
  right: -28%;
  z-index: 1;
  transition: right .5s ease-in-out;
  -webkit-transition: right .5s ease-in-out;
  overflow-x: hidden;
  color: #fff;
  padding: 1em;
}

#task-inbox h1 {
  font-size: 17px;
	font-weight: 100;
  margin: 2em 0em 1em .1em;
  letter-spacing: 0.3px;
}

#task-inbox h2 {
  color: #fff;
  font-size: 11px;
  font-weight: 100;
	letter-spacing: 0.3px;
  margin: 2em 0em .4em .2em;
}

#task-inbox ul {
  background-color: #fff;
  margin: 0em 0em 1.3em 0em;
  border-radius: 3px;
  font-family: Cabin, sans-serif;
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	color: #333333;
  padding: 0em;
}

#task-inbox li {
  list-style-type: none;
  padding: 0em;
}

#task-inbox li:hover {
  background-color: #ecf6ff;
  cursor: pointer;
  cursor: hand;
}

#task-inbox li:active {
  background-color: #52a6ec;
}

#task-inbox li:first-child:hover {
  background-color: #ecf6ff;
  border-radius: 3px 3px 0px 0px;
}

#task-inbox li:first-child:active {
  background-color: #52a6ec;
  border-radius: 3px 3px 0px 0px;
}

#task-inbox li:last-child:hover {
  background-color: #ecf6ff;
  border-radius: 0px 0px 3px 3px;
}

#task-inbox li:last-child:active {
  background-color: #52a6ec;
  border-radius: 0px 0px 3px 3px;
}

#task-inbox li > .task {
  padding: .7em .8em;
}

#task-inbox span.notif-id {
  float: right;
  padding-right: 12px;
  color: #697489;
  font-size: 11px;
}

#task-inbox span.notif-number {
  float: right;
  padding: 0;
  margin-left: 4px;
  color: #006aa9;
  font-size: 10px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  text-align: center;
  background: #fff;
}

#task-inbox span.notif-number {
  color: #006aa9;
}

#task-inbox section.stick-bottom {
  position: fixed;
  bottom: 2%;
  width: 21%;
}

#task-inbox hr {
  border: .4px solid #fff;
  width: 100%;
}

#task-inbox p.center {
  margin: 0 auto;
  color: #ecf6ff;
  font-size: 13px;
  width: 42px;
  cursor: pointer;
  cursor: hand;
}

#task-inbox .close {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  position: absolute;
  right: 16px;
  top: 13px;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  transition: all .2s ease;
}

#task-inbox .close:hover {
  cursor: pointer;
  cursor: hand;
}

/* HACK FOR TABS */
#triangle-hack {
  width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 4px solid 1px #697489;
	border-top: 58px solid #033A5A;
  position: fixed;
  top: 70px;
  left: 42px;
  z-index: 1000;
}

/* TABS */
tabs {
  position: relative;
	margin: 40px auto;
	width: 750px;
  border-radius: 3px 3px 0px 0px;
  /*transform: perspective(5px) rotateX(2deg);
	transform-origin: bottom;*/

}
.tabs input[type="radio"] {
  display:none;
	position: absolute;
	z-index: 1000;
	width: 180px;
	height: 40px;
  left: 58px;
  top: 70px;
	opacity: 0;
}
.tabs input#tab-2[type="radio"]{
	left: 58px;
}
.tabs input#tab-3[type="radio"]{
	left: 240px;
}
.tabs input#tab-4[type="radio"]{
	left: 420px;
}

.tabs input#tab-5[type="radio"]{
	left: 600px;
}

.tabs input[type="radio"]:hover {
  cursor: pointer;
}

.tabs label.tab {
  background: -webkit-linear-gradient(#153a5b, #1f517a, #163D5D);
  background: linear-gradient(#153a5b, #1f517a, #163D5D);
  background-size: 1px 80px;
  transition: background .4s ease-in-out;
  -webkit-transition: background .4s ease-in-out;
	border: solid 1px #697489;
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
  float: left;
	display: block;
	width: 140px;
  border-radius: 3px 3px 0 0;
	transform: perspective(5px) rotateX(2deg);
	transform-origin: bottom left;
}

.tabs label.tab[for="tab-4"] {
  display: none;
}

.tabs input#tab-4 {
  display: none;
}
.tabs label.tab[for="tab-5"] {
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  width: 10px;
  font-weight: 100 !important;
}

.tabs label.tab[for="tab-5"] .label-name {
    font-size: 22px;
}

.tabs .label-name {
  letter-spacing: 1px;
  font-family: Cabin, sans-serif;
	font-size: 14px;
	color: #a3d6ff;
	font-weight: 100;
	text-align: center;
  margin: 4px 0px 0px -48px;
  transform: perspective(5px) rotateX(-2deg) !important;
  transform-origin: bottom left;
}

.tabs input:hover + label.tab {
  background-position: 40px;
}

.tabs label.tab:first-of-type {
    z-index: 4;
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label.tab {
  background: #fff;
	z-index: 6;
  border-bottom: #fff;
}

.tabs input:checked +label.tab > .label-name {
  font-size: 16px;
  font-weight: 600 !important;
  color: #102841 !important;
  transform: perspective(5px) rotateX(-1deg) !important;
  transform-origin: bottom left;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
    z-index: 100;
    opacity: 1;
    transition: all ease-out 0.4s 0.4s;
}

.content {
  top: 40px;
  left: 4px;
  background: #fff;
	position: relative;
  width: 100%;
	height: 780px;
	z-index: 5;
  box-shadow: 0 9px 8px 0 rgba(8, 8, 8, 0.56), 0 1px 2px 0 #a9b1be;
  border-top: 0;
  border: solid 1px #cbcfd7;
  border-radius: 0px 0px 3px 3px;
}

.content div {
  position: absolute;
	top: 0;
	left: 0;
	padding: 10px 26px;
	z-index: 1;
  opacity: 0;
  width: 96%;
  transition: all linear 0.1s;
}

.content div p {
	font-size: 14px;
	text-align: left;
	margin: 0;
	color: #777;
}

.content section.section {
  border-radius: 4px;
	border: solid 1px #a3d6ff;
  padding: .3em 1em 1em 1em;
  margin: 1em 1em 1em 0em;
}

.content section.section:before {
  position: relative;
  content: '...';
  font-size: 22px;
  font-weight: 400;
  color: #a3d6ff;
  left: 18px;
  bottom: 2px;
  float: right;
  transform: rotate(90deg);
}
.content section.section:hover:before{
  cursor:pointer;
}

.content .content-2 h3:first-of-type, .content .content-3 h3:first-of-type, .content .content-1 h3:first-of-type {
  margin-top: 50px;
}

.content #content-1-hidden h3:first-of-type {
  padding-top: 50px;
}

.content img.documents {
  position: absolute;
  top: 1em;
  width: 92%;
  display: block;
}

.content img.documents:hover {
  cursor: pointer;
}

.content .content-4 #content-1-hidden {
  display: none;
  margin-top: -10px;
}
